#!/bin/bash

# {{ include "dot_config/nix-darwin/nushell/config.nu" | sha256sum }}
# {{ include "dot_config/nix-darwin/nushell/env.nu" | sha256sum }}
# {{ include "dot_config/nix-darwin/configuration.nix" | sha256sum }}
# {{ include "dot_config/nix-darwin/flake.nix" | sha256sum }}
# {{ include "dot_config/nix-darwin/home.nix" | sha256sum }}

# nu -l -c 'upswitch -A'
