#!/bin/bash

# {{ include "dot_config/nix-darwin/flake.nix" | sha256sum }}
# {{ include "dot_config/nix-darwin/configuration.nix" | sha256sum }}
# {{ include "dot_config/nix-darwin/home.nix" | sha256sum }}
nix-channel --update
darwin-rebuild switch --flake ~/.config/nix-darwin
